$backgroundColor: #cdedee;
// $bodyColor: #000000;
$bodyColor: #e20413;
$bodyFont: "Times New Roman", "SimSun", "STSong", serif;

// Main Colors: Blue #1E1CD8 Red #E91C23 Yellow #EAA206 
// Try Colors: Light Blue #cdedee Mint Blue #ade4ee Off White #e5d5cc Blue #4592af Light Purple #f4e6f0 Grassy Green #afa75f
// More Try Colors: BV Green #009D48 BV Orange #F25B1D

// GENERAL STYLES ****************************************************

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    &::before, &::after {
      box-sizing: border-box;
    }
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;

    color: $bodyColor;
    font-family: $bodyFont;
    font-size: 20px;
}

::-moz-selection { 
    color: #000;
    background: #FFC131;
}
  
::selection {
    color: #000;
    background: #FFC131;
}

a {
    text-decoration: underline;
    &:active {
        background-color: transparent;
    }
}

@media (hover: hover) {
    a:hover {
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0;
}

// LAYOUT STYLES ****************************************************

body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: $backgroundColor;
}

header {
    z-index: 999;
    position: fixed;
    width: fit-content;
    top: 0;
    right: 0;
    padding: 10px;
    .navigation {
        display: flex;
        justify-content: flex-end;
        nav {
            padding-left: 20px;
        }
    }
}

.container {
    max-width: 700px;
    min-height: 100vh;
    margin: 0 10px;
    padding: 10px 0 50px 0;
}

.highlight {
    color: #e20413 !important;
    background: rgba(255, 193, 49, 1) !important;
}

// INDEX STYLES ****************************************************

#canvas {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #cdedee;
}

#text {
    z-index: 500;
    position: absolute;
    max-width: 500px;
    margin-right: 10px;
    #intro, #intro * {
        font-size: 60px;
        padding: 1.5px 0;
        @media (max-width: 500px) {
            font-size: 40px;
        }
    }
    #intro span {
        cursor: pointer;
        font-style: italic;
    }
    .links {
        display: flex;
        flex-direction: column;
        a {
            width: fit-content;
        }
    } 
    @media (max-width: 500px) {
        max-width: 300px;
        margin-top: 30px;
    }
}

footer {
    z-index: 999;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 10px;
    #bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        #greeting {
            text-align: right;
        }
        @media (max-width: 500px) {
            margin-top: 20px;
        }
    }
}

// MARKDOWN STYLES ****************************************************

blockquote {
    border-left: 2px solid $bodyColor;
    padding: 0 10px
}
sup {
    vertical-align: top;
}
a.footnote-ref {
    font-size: smaller;
    margin-left: 0px;
    text-decoration: none !important; 
}
.footnotes {
    margin-top: 50px;
    hr {
        border: none;
    }
    ol {
        padding-left: 20px;
    }
    ol li p {
        margin-bottom: 0;
    }
}

// BLOG STYLES ****************************************************

.postnav {
    width: 100%;
    display: flex;
    div:first-child {
        flex-basis: 100px;
        flex-grow: 0;
        flex-shrink: 0;
    }
    div:last-child {
        width: auto;
    }
    &:first-of-type {
        margin-top: 20px;
    }
}

.category {
    margin-bottom: 20px;
    div {
        display: flex;
        a {
            margin-left: 20px;
        }
        div {
            font-feature-settings: "tnum";  
        }
    }
}

.title {
    font-weight: bold;
}

.postcontent {
    margin-bottom: 20px;
}

// ART STYLES ****************************************************

.gallery-image {
    margin: 20px 0;
}

// PROJECT STYLES ****************************************************

.projectcontent {
    overflow-x: hidden;
    img {
        object-fit: cover;
        padding-bottom: 5px !important;
        background-color: transparent !important;
        box-shadow: none !important;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        td, th {
            border: 2px solid #000;
            text-align: left;
            padding: 8px;
        }
    }
    .gt-showcase {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 700px;
        margin: 20px 0 10px 10px;
        height: 400px;
        max-height: 100%;
        img {
            border-radius: 20px;
        }
        .gt-showcase-stat {
            img {
                width: auto;
                height: 400px;
                @media (max-width: 500px) {
                    height: 250px;
                }
            }
        }
        .gt-showcase-gif {
            img {
                height: 400px;
                width: auto;
                @media (max-width: 500px) {
                    height: 250px;
                }
            }
        }
        @media (max-width: 500px) {
            height: 250px;
        }
    }
}

// EXTRAS STYLES ****************************************************

* {
    -moz-animation: fadein 0.5s; 
    -webkit-animation: fadein 0.5s; 
    animation: fadein 0.5s;
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.cursor {
    z-index: -10;
    height: 400px;
    width: 400px;
    border-radius: 100%;
    background-color: rgba(255, 193, 49, 1);
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    @media (hover: none) {
        display: none;
    }
}

.hidden {
    opacity: 0;
}