// Main Colors: Blue #1E1CD8 Red #E91C23 Yellow #EAA206 
// Try Colors: Light Blue #b1ccc8 Off White #f7e8e8 Blue #4592af

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #afa75f;
}

#text {
    position: absolute;
    max-width: 700px;
    #intro {
        font-size: 50px;
    }
}