// Main Colors: Blue #1E1CD8 Red #E91C23 Yellow #EAA206 
// Try Colors: Light Blue #b1ccc8 Off White #e5d5cc Blue #4592af Light Purple #f4e6f0 Grassy Green #afa75f

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #e5d5cc;
}

#text {
    position: absolute;
    max-width: 700px;
    #intro {
        font-size: 50px;
    }
}

footer {
    z-index: 999;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 10px;
    .links > a {
        padding-right: 20px;
    }
    .bottom {
        display: flex;
        justify-content: space-between;
    }
}